html {
    box-sizing: border-box;
    font-size: 2.4vw;
}

@media all and (min-width:1000px) { html { font-size: 24px; } }

@media all and (max-width:520px) { 
    html{ font-size: 18px; }
}

body {
    background: #fcfcfc;
    color: #111;
    display: flex;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.4em;
    margin: 4rem auto 16rem auto;
    max-width: 30rem;
    padding: 0 1rem 0 1rem;
}

.text {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 1em 0;
    padding: 0;
}

quote {
    display: block;
    font-size: 0.9em;
    font-style: italic;
    line-height: 140%;
    margin: 0 2em 0 2em;
}

.text ul {
    padding: 0 0 0 1em;
}

.text li {
    margin: 0 0 0.25em 0;
}

cred {
    display: block;
    font-size: 0.8em;
    text-align: center;
}

eq {
    display: block;
    text-align: center;
}

h1 {
    font-family: 'Grenze Gotisch', serif;
    font-size: 2.5em;
    line-height: 100%;
    margin: 0;
    padding: 0.5em 0 0.1em 0;
}

a {
    text-decoration: none;
}

em {
    font-style: italic;
}

strong {
    font-style: bold;
}

caps {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

sysname {
    text-transform: capitalize;
    font-style: italic;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

th {
    border-bottom: 0.5px #ccc solid;
}

th, td {
    padding: 0.15em 0.15em 0.15em 0.15em;
    text-align: center;
}

.header {
    display: block;
    font-style: italic;
    text-align: center;
    margin: 0 0 4rem 0;
}

.header h1 {
    display: block;
    font-family: 'Grenze Gotisch', serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 100%;
    text-align: center;
}

.header strong {
    display: block;
    font-size: 5.25rem;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    background: #fcfcfc;
    border-radius: 0.25rem;
    border: 2px solid #111;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.9rem;
    left: -50vw;
    line-height: 140%;
    padding: 0.5em;
    position: absolute;
    text-align: left;
    top: 2em;
    visibility: hidden;
    width: 75vw;
    z-index: 1;
}

.tooltiptext:hover {
    visibility: visible;
}

.tooltiptext ul {
    padding-left: 1em;
}

.tooltiptext li {
    padding-left: 0.25em;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media all and (max-width:520px) { 
    .tooltip { display: none; }
}

.calculator {
    align-items: flex-end;
    align-self:center;
    display: inline-flex;
    flex-direction: column;
    font-family: 'Grenze Gotisch', serif;
    font-size: 1.75em;
    margin: 0 0 2rem 0;
}

.calculator .score {
    display: inline-block;
}

.calculator label {
    margin-right: 0.25em;
    white-space: nowrap;
}

.calculator input {
    appearance: textfield;
    background: none;
    border: none;
    font-family: 'Grenze Gotisch', serif;
    font-size: 1.0em;
    outline: none;
    width: 4em;
}

.calculator input:invalid {
    box-shadow: none;
    color: crimson;
}

.splittable {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.splittable table + table {
    border-left: 2px dashed #ccc;
}

.stat-block {
    border: 2px solid #111;
    border-radius: 0.25em;
    font-size: 0.9em;
    line-height: 140%;
    padding: 0.5em;
}

.stat-block h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

.stat-block li {
    list-style-type: none;
    padding-left: 1.5em;
    text-indent: -1.5em;
}

.stat-block h1 {
    font-size: 2.5em;
}

.stat-block h2 {
    border-bottom: 0.5px solid #111;
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.stat-block h3 {
    border-top: 0.5px solid #111;
    margin: 0.5em 0 0.25em 0;
    font-size: 1.2em;
    font-weight: normal;
    padding: 0.25em 0 0 0;
}

.stat-block p {
    margin: 0 0 0.5em 0;
    padding: 0;
}

.stat-block .abilscores {
    border-top: 0.5px solid #111;
    border-bottom: 0.5px solid #111;
    padding: 0.25em 0 0.25em 0;
    margin: 0.5em 0 0.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stat-block .abilscores .score {
    display: flex;
    flex-direction: column;
}